<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.DiaryDao">

<insert id="add" parameterType="MerzeeDiary">
	INSERT diary(dry_id, open_date, dry_name, dry_photo, email, type, attr)
	values (#{dry_id},#{open_date},#{dry_name},#{dry_photo},#{email},#{type},#{attr})
</insert>

<select id="getDiaryList" parameterType="String" resultType="MerzeeDiary">
	select dry_id, open_date, dry_name, dry_photo, email, type, attr
	from diary
	where email=#{value}
	order by open_date
</select>

<!-- <select id="exist" parameterType="java.util.Map" resultType="boolean">
	select if (count(email) > 0, 'true', 'false') as result
	from mem_info
	where
		email=#{email}
		and password=#{password}
</select>

<select id="getMemberByEmail" parameterType="string" resultType="MerzeeMember">
	select 
		email, birth, password, phone, name, nickname, mem_photo, gender
	from mem_info
	where email=#{value}
</select>

<delete id="remove" parameterType="long">
	delete from student
	where no=#{value}
</delete>

<select id="getStudent" parameterType="long" resultType="student">
	select 
		no, name, mobile, email, address, 
		working as working2, 
		gender, point
	from student
	where no=#{value}
</select>

<update id="change" parameterType="student">
	update student set
		name=#{name},
		mobile=#{mobile},
		email=#{email},
		address=#{address},
		working=#{working2},
		gender=#{gender},
		point=#{point}
	where no=#{no}
</update>

 -->
</mapper>